<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar Sesion</title>
</head>
<body>
    {% extends  'base.html' %}

    {% block content %}
    <div class="container text-center">
        <form action="/signin/" method="POST">
            <h1>Iniciar sesion</h1>
            {{error}}
            <hr>
            {% csrf_token %}
            {{form.as_p}}
            <button>Iniciar Sesion</button>
        </form>
    </div>

    {% endblock %}

</body>
</html>